.resetPassword__container {
    display: grid;
    place-items: center;
    background:  #f7f7f7;
}

.resetPassword__container_logo {
    color: #182BFF;
    font-size: 1.8rem;
    font-weight: 800;
    margin-top: 3.8rem;
    margin-bottom: 1rem;
}

.resetPassword__wrapper {
    display: flex;
    background: #fafafa;
    margin: 1.8rem 0 4.5rem 0;
    width: 50%;
    min-height: 80vh;
    border-radius: 5px;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}

.resetPassword__form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.resetPassword__form > h3 {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 3rem;
}

.resetPassword__form_wrapper {
    margin-top: 3.5rem;
    margin-right: 2rem;
}

.resetPassword__form_wrapper > label {
    font-size: 1rem;
    font-weight: 500;
    margin-left: 0.3rem;
}

.resetPassword__form_wrapper > input {
    width: 100%;
    height: 1.8rem;
    font-size: 1rem;
    border-radius: 5px;
    margin-top: 0.3rem;
    padding: 0.4rem 1rem;
    border: 2px solid #838282;
}

.resetPassword__form_wrapper > input:focus {
    border-color: #559efd;
}

.resetPassword__form_button {
    width: 100%;
    height: 3rem;
    border-radius: 20px;
    font-size: 1rem;
    background-color: #1f66ff;
    color: white;
    margin-top: 3rem;
    padding: 1rem 0;
    border: none;
    transition: all 0.5s;
}

.resetPassword__form_button:hover {
    background-color: #1e49a5;
    transform: translateY(-2px);
}

.resetPassword__form_button:active {
    transform: translateY(2px);
}

.resetPassword__error {
    color: #f82121;
    font-size: 1rem;
    margin-top: 1rem;
}

@media screen and (max-width: 45rem) {
    .resetPassword__wrapper {
        width: 85vw;
    }
}